<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@website, remote: remote, html: {role: :form, 'data-model' => 'website'}) do |f| %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <%= f.label :website_name, class: 'control-label' %><br>
    <%= f.text_field :website_name, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions" onclick="hide();">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>

<% end %>

<script type="text/javascript">
  function hide() {
    document.getElementById("closer").click()
  }

</script>
