<h1>New Website</h1>

<%= form_for(@component) do |f| %>
  <% if @component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component.errors.count, "error") %> prohibited this component from being saved:</h2>

      <ul>
      <% @component.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> 
  <% end %>


    <%= f.hidden_field :number %>


  <div class="actions">
    <%= f.submit class: "my_submit" %>
  </div>
<% end %>

<%= link_to 'Back', websites_path %>

<a href="#"onClick="my_submit()">
	<p>lolol</p>
</a>  
