<div class="category">
    <h1 class="category_all">Author</h1>
</div>

<div class="main">  
    <% for i in 0...@columns do %>
    <div class="column">
    	<% for j in 0..3 do %>
    	<% index = i*4+j %>
        <%= link_to @websites_author[index] do %>
        <div class="ws">
            <h3><%= @websites_author[index].website_name %></h3>
            <div class="discription">
            <p>
              <%= @websites_author[index].description %>
            </p>
            </div>
            
            <div class="info_all">
                <div class = "date_all"><%= @websites_author[index].created_at %></div>
	            <div class="like_all"></div>
	            <div class="likes_all"><%= @websites_author[index].likes %></div>
            </div>      
        </div>
    	<% end %>
    	<% end %>
    </div>
    <% end %>

    <div class="column">
    <% for i in 0...@rest do %>
    <%= link_to @websites_author[i] do %>
    <div class="ws">
        <h3><%= @websites_author[i].website_name %></h3>
        <div class="discription">
          <p><%= @websites_author[i].description %></p>
        </div> 
          
        <div class="info_all">
            <div class = "date_all"><%= @websites_author[i].created_at %></div>
	        <div class="like_all"></div>
	        <div class="likes_all"><%= @websites_author[i].likes %></div>
        </div>      
    </div>
    <% end %>
    <% end %>
</div>